{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vittorbet</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="upper-logo">
      <img src="{% static 'logo.png' %}" alt="Vittoronebets" height="20%" width="20%">
    </div>
    <div class="navbar">
      <nav>
        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
      </nav>
    </div>
    <div class="wrapper">
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>
